.controlBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 80vw;
    margin: auto;
    margin-bottom: 90px;
}

.animationBox {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.input {
    max-width: 204px;
}

.upBtn {
    width: 175px;
}

.dnBtn {
    width: 362px;
}

.circleContainer {
    display: flex;
    align-items: center;
    gap: 16px;
}