.content {
    display: flex;
    flex-direction: column;
    max-width: 80vh;
    margin: auto;
}

.inputBox {    
    display: flex;
    flex-direction: row;    
    gap: 12px;
}

.text {
    text-align: start;
    margin-bottom: 120px;
}

.animationBox {
    max-width: 80vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}